
@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";


*
{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    
}

/* ======= header =======*/ 


header{
    display: grid;
    grid-template-columns:  213px 134px;
    margin: 36px 0 0;    
    
    
}
a{
    text-decoration: none;
    color: #111111;
}
header nav {
    display: grid;
    gap: 30px;
    grid-template-columns:  42px 62px;
    font-size: 16px;
    line-height: 19px;
    
    
}

.logo {
    height: 26.9px;
   

}

.navegacao {
    align-self: center;
}

a#negrito{
    font-weight: bold;
    height: 32px;
}




/* ======= footer=======*/
footer {
    background-color: #EEEEEE;
    color:#999999;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 50px 0 0 -230px;
    padding: 27px 0;
    width: 1400px;
}



/*======= home ========*/

body {
    width: 940px;
    height: 984px;
    color: #111111;
    font-size: 18px;
    margin: 0 230px;
    
    
}

.descricao {
    
    background-color: #FBDFDB;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 30px;
    width: 940px;
    height: 366px;
    position: relative;
    margin-top: 36px;
}

.descricao img {
    height: 300px;
    margin-top: 66px;
    margin-right: 100px;
    position: absolute;
    right: 0;
}

.descricao #texto {
    margin-left: 60px;
    margin-top: 117px;
    margin-bottom: 10px;
    
    line-height: 38px;
    font-weight: bold;
}

.texto2{
    height: 84px;
    width: 316px;
    font-weight: normal;
    line-height: 28px;
    font-size: 18px;
    margin-top: 10px;
    opacity: 70%;
}

h4 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-top: 50px;
   

}


/* ========== sobre =======*/


#alinhamentoSobre {
    width: 940px;
    color: #444444;
    line-height: 28px;

}

#alinhamentoSobre p{
    margin-top: 20px;

}
#sobre{
    height: 280px ;
}
h2#maior {
    font-size: 24px;
    line-height: 28px;
}

h2{
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
}

#comoComecou{
    height: 280px;
}

#nossasReceitas {
    height: 112px ;
}


/*====== Receitas ====*/


.gridReceitas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    margin-top: 20px;
    width: 940px;
}

.gridReceitas#dois{
 margin-top: 56px;
}

.quadroReceitas img {
    height: 140px;
    width: 300px;
    border-radius: 15px;
}

.gridReceitas h2 {
    line-height: 21px;
    margin-top: 20px;
    font-size: 18px;
}

.gridReceitas h3 {
    line-height: 16px;
    margin-top: 5px;
    font-size: 14px;
    color: #777777;
    font-weight: normal;
}

/* ========== Modal ============*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.6) ;
    width: 1400px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    visibility: hidden;

}
.modal {
    background-color: white;
    width: 660px;
    height: 413px;
    margin: 20VH auto;
    border-radius: 16PX;


}

.modalcontent{
    display: grid;
    grid-template-columns: 1fr;
}

.modalcontent img {
    height: 200px;
    width: 600px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    margin: 30px 30px 20px;
}


/* ============ Modal Active =========*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;

}

a.closebutton {
    margin: 60px auto 30px;
    color: #999999;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;


    
}

p.modal-title {
    font-size: 24px;
    margin: 0 auto;
    font-weight: normal;
    line-height: 28px;
}

p.modal-chef {
    font-size: 18px;
    line-height: 21px;
    color: #777777;
    font-weight: normal;
    margin: 5px auto 0;
}